/* Цвет второй части лого #000000 */
/* Цвет акцента #2196F3 */
/* Основной цвет #212121  */
/* Вторичный цвет #757575 */
/* Цвет текста в Герое и адреса в футере #FFFFFF  */
/* Цвет имейла и телефона в футере rgba(255, 255, 255, 0.6) */

:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white: #ffffff;
  --logo-second: #000000;
  --hero-footer-bcg: #2f303a;
  --button-bcg: #f5f4fa;
  --button-hover: #188ce8;
  --header-border: #ececec;
  --project-border: #eeeeee;
  --hero-bcg: #c4c4c4;
  --icon-color: #afb1b8;
  --icon-header: #757575;
}

body {
  background-color: var(--white);
  color: var(--primary-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Утилиты */

.list {
  list-style: none;
}

.list,
.title,
.type {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list .link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */

.header {
  border-bottom: 1px solid var(--header-border);
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-first,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-second {
  color: var(--logo-second);
}

/* Навигация */

.block-top {
  display: flex;
}

.nav {
  align-items: center;
}

.nav,
.site-nav,
.site-contacts {
  display: flex;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button-icon {
  margin-right: 10px;
  fill: currentColor;
}

.button-icon:hover {
  fill: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.site-contacts {
  margin-left: auto;
}

.site-nav .link {
  color: var(--primary-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.footer .link:hover {
  color: var(--accent-color);
}

.site-nav,
.site-contacts {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-options {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.site-nav .current {
  color: var(--accent-color);
}

/* Контакты */
.site-contacts .link {
  color: var(--secondary-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bcg);
}

.hero-box {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.hero-button:hover {
  background-color: var(--button-hover);
}

.hero-button:focus {
  color: var(--accent-color);
}

.button-title {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

/* Overlay */

.overlay {
  /* max-width: 1600px;
  min-height: 600px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4; */
}

/* Наші особливості */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.features-item,
.services-item,
.workers-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-desc {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.7;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-bcg);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Чем мы занимаемся */

.services {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.services-item {
  width: 370px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */

.site-workers {
  background-color: var(--button-bcg);
}

.workers {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.workers-item:not(:last-child) {
  margin-right: 30px;
}

.workers-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.services-title,
.workers-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.workers-name,
.workers-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.workers-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.workers-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.workers-icon {
  display: flex;
  width: 270px;
  padding: 0 32px;
  margin-bottom: 30px;
  margin-right: -10px;
}

.social-icon {
  display: block;
  margin-right: 10px;
  color: var(--icon-color);
}

.svg-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
  fill: currentColor;
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 50%;
}

/* Портфоліо. Наші роботи*/

.options-button {
  background-color: var(--button-bcg);
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.site-options .options-button:hover,
.site-options .options-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.site-projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-title {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.projects-type {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-contant {
  padding: 20px 24px;
  border: 1px solid var(--project-border);
}

/* Постійні клієнти */
.clients {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-icon {
  display: flex;
  color: var(--icon-color);
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: currentColor;
}

.clients-item {
  width: 170px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-icon:hover,
.clients-icon:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.logo-third,
.address {
  color: var(--white);
}

.footer {
  background-color: var(--hero-footer-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container .logo {
  padding-top: 0;
  padding-bottom: 0;
}

.footer .logo {
  margin-bottom: 20px;
}

.site-address {
  font-style: normal;
}

.site-address .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.7;
}

.address-item {
  margin-bottom: 9px;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.networks {
  display: flex;
}

.footer-address {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.networks-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.site-networks {
  display: block;
  height: 80px;
  width: 206px;
  margin-top: 12px;
}

.networks-icon {
  display: flex;
}

.social-icon.net {
  display: block;
  margin-right: 10px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: currentColor;
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
}

.social-icon.net:hover,
.social-icon.net:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
