/* Цвет второй части лого #000000 */
/* Цвет акцента #2196F3 */
/* Основной цвет #212121  */
/* Вторичный цвет #757575 */
/* Цвет текста в Герое и адреса в футере #FFFFFF  */
/* Цвет имейла и телефона в футере rgba(255, 255, 255, 0.6) */

:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white: #ffffff;
  --logo-second: #000000;
  --hero-footer-bcg: #2f303a;
  --button-bcg: #f5f4fa;
  --button-hover: #188ce8;
}

body {
  background-color: var(--white);
  color: var(--primary-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-first,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-second {
  color: var(--logo-second);
}

.list {
  list-style: none;
}

.list a {
  text-decoration: none;
}

/* Навигация */

.site-nav a {
  color: var(--primary-color);
}

.site-nav a:hover,
.site-nav a:focus,
.footer a:hover {
  color: var(--accent-color);
}

.site-nav,
.site-contacts {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-options {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакты */
.site-contacts a {
  color: var(--secondary-color);
}

.site-contacts a:hover,
.site-contacts a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--hero-footer-bcg);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-button {
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--button-hover);
}

.hero-button:focus {
  color: var(--accent-color);
}

.button-title {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

/* Наші особливості */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-descriptions {
  color: var(--secondary-color);
}

.site-features h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.site-features p {
  font-size: 14px;
  line-height: 1.7;
}

.workers {
  background-color: var(--button-bcg);
}

.site-workers li {
  background-color: var(--white);
}

.features h2,
.services h2,
.workers h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.site-workers h3,
.site-workers p {
  font-size: 16px;
  line-height: 1.19;
}

.site-workers h3 {
  font-weight: 500;
}

/* Портфоліо. Наші роботи*/

.site-options button {
  background-color: var(--button-bcg);
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}

.site-options button:hover,
.site-options button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.projects h2 {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
}

.projects p {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */
.logo-third,
.address {
  color: var(--white);
}

footer {
  background-color: var(--hero-footer-bcg);
}

.site-address {
  font-style: normal;
}

.site-address a:focus {
  color: var(--accent-color);
}

.footer-contacts a {
  font-size: 14px;
  line-height: 1.7;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}
